{
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": ["off"],
    "arrow-body-style": ["error", "as-needed"]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
    },
    "sourceType": "module"
  }
}
